.list {
  display: flex;
  gap: 2em;
}

/* ホバーできるデスクトップ環境 */
@media (hover: hover) {
  .list a:hover {
    color: var(--accent);
  }
}

/* ホバーできないモバイル環境 */
@media (hover: noen) {
  .list a {
    -webkit-tap-highlight-color: transparent;
  }

  .list a:active {
    color: var(--accent);
  }
}
